
.vs/MedProject_UI/FileContentIndex/25fe9378-7306-471a-9549-77e36fb358c8.vsidx
.vs/MedProject_UI/FileContentIndex/27c4580f-edf5-4d6f-ba6c-88a3ce9bb8f2.vsidx
.vs/MedProject_UI/FileContentIndex/9eaac6f6-35eb-49f5-a89f-7029a28ee308.vsidx
.vs/MedProject_UI/FileContentIndex/ac533f39-a520-421a-8231-12be4cfcb53b.vsidx
.vs/MedProject_UI/FileContentIndex/b2f476c4-81e6-4123-9b3b-4bcd580c38c1.vsidx
MedProject_UI/obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
MedProject_UI/obj/Debug/net8.0-windows/AddPatient.baml
MedProject_UI/obj/Debug/net8.0-windows/AddPatient.g.cs
MedProject_UI/obj/Debug/net8.0-windows/AddPatient.g.i.cs
MedProject_UI/obj/Debug/net8.0-windows/App.baml
MedProject_UI/obj/Debug/net8.0-windows/App.g.cs
MedProject_UI/obj/Debug/net8.0-windows/App.g.i.cs
MedProject_UI/obj/Debug/net8.0-windows/apphost.exe
MedProject_UI/obj/Debug/net8.0-windows/CreatedDocs.baml
MedProject_UI/obj/Debug/net8.0-windows/CreatedDocs.g.cs
MedProject_UI/obj/Debug/net8.0-windows/CreatedDocs.g.i.cs
MedProject_UI/obj/Debug/net8.0-windows/DocBuilder.baml
MedProject_UI/obj/Debug/net8.0-windows/DocBuilder.g.cs
MedProject_UI/obj/Debug/net8.0-windows/DocBuilder.g.i.cs
MedProject_UI/obj/Debug/net8.0-windows/GeneratedInternalTypeHelper.g.cs
MedProject_UI/obj/Debug/net8.0-windows/GeneratedInternalTypeHelper.g.i.cs
MedProject_UI/obj/Debug/net8.0-windows/Login.baml
MedProject_UI/obj/Debug/net8.0-windows/Login.g.cs
MedProject_UI/obj/Debug/net8.0-windows/Login.g.i.cs
MedProject_UI/obj/Debug/net8.0-windows/MainWindow.baml
MedProject_UI/obj/Debug/net8.0-windows/MainWindow.g.cs
MedProject_UI/obj/Debug/net8.0-windows/MainWindow.g.i.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI.AssemblyInfo.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI.AssemblyInfoInputs.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI.assets.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI.csproj.BuildWithSkipAnalyzers
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI.csproj.CoreCompileInputs.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI.csproj.FileListAbsolute.txt
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI.designer.deps.json
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI.designer.runtimeconfig.json
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI.dll
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI.g.resources
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI.GeneratedMSBuildEditorConfig.editorconfig
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI.genruntimeconfig.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI.GlobalUsings.g.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI.pdb
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_0kzs42kj_wpftmp.AssemblyInfo.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_0kzs42kj_wpftmp.AssemblyInfoInputs.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_0kzs42kj_wpftmp.assets.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_0kzs42kj_wpftmp.csproj.BuildWithSkipAnalyzers
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_0kzs42kj_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_0kzs42kj_wpftmp.GlobalUsings.g.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_1m2cscw3_wpftmp.AssemblyInfo.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_1m2cscw3_wpftmp.AssemblyInfoInputs.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_1m2cscw3_wpftmp.assets.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_1m2cscw3_wpftmp.csproj.BuildWithSkipAnalyzers
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_1m2cscw3_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_1m2cscw3_wpftmp.GlobalUsings.g.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_2jfbusqn_wpftmp.AssemblyInfo.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_2jfbusqn_wpftmp.AssemblyInfoInputs.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_2jfbusqn_wpftmp.assets.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_2jfbusqn_wpftmp.csproj.BuildWithSkipAnalyzers
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_2jfbusqn_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_2jfbusqn_wpftmp.GlobalUsings.g.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_5c1ak3g3_wpftmp.AssemblyInfo.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_5c1ak3g3_wpftmp.AssemblyInfoInputs.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_5c1ak3g3_wpftmp.assets.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_5c1ak3g3_wpftmp.csproj.BuildWithSkipAnalyzers
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_5c1ak3g3_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_5c1ak3g3_wpftmp.GlobalUsings.g.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_adun1js1_wpftmp.AssemblyInfo.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_adun1js1_wpftmp.AssemblyInfoInputs.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_adun1js1_wpftmp.assets.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_adun1js1_wpftmp.csproj.BuildWithSkipAnalyzers
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_adun1js1_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_adun1js1_wpftmp.GlobalUsings.g.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_gdbanwbw_wpftmp.AssemblyInfo.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_gdbanwbw_wpftmp.AssemblyInfoInputs.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_gdbanwbw_wpftmp.assets.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_gdbanwbw_wpftmp.csproj.BuildWithSkipAnalyzers
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_gdbanwbw_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_gdbanwbw_wpftmp.GlobalUsings.g.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_gde3pbr2_wpftmp.AssemblyInfo.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_gde3pbr2_wpftmp.AssemblyInfoInputs.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_gde3pbr2_wpftmp.assets.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_gde3pbr2_wpftmp.csproj.BuildWithSkipAnalyzers
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_gde3pbr2_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_gde3pbr2_wpftmp.GlobalUsings.g.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_j0gojwam_wpftmp.AssemblyInfo.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_j0gojwam_wpftmp.AssemblyInfoInputs.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_j0gojwam_wpftmp.assets.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_j0gojwam_wpftmp.csproj.BuildWithSkipAnalyzers
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_j0gojwam_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_j0gojwam_wpftmp.GlobalUsings.g.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_ls5wqqb5_wpftmp.AssemblyInfo.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_ls5wqqb5_wpftmp.AssemblyInfoInputs.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_ls5wqqb5_wpftmp.assets.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_ls5wqqb5_wpftmp.csproj.BuildWithSkipAnalyzers
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_ls5wqqb5_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_ls5wqqb5_wpftmp.GlobalUsings.g.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_MarkupCompile.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_MarkupCompile.i.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_MarkupCompile.i.lref
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_MarkupCompile.lref
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_nc55elu5_wpftmp.AssemblyInfo.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_nc55elu5_wpftmp.AssemblyInfoInputs.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_nc55elu5_wpftmp.assets.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_nc55elu5_wpftmp.csproj.BuildWithSkipAnalyzers
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_nc55elu5_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_nc55elu5_wpftmp.GlobalUsings.g.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_rlp5vh0r_wpftmp.AssemblyInfo.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_rlp5vh0r_wpftmp.AssemblyInfoInputs.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_rlp5vh0r_wpftmp.assets.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_rlp5vh0r_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_rlp5vh0r_wpftmp.GlobalUsings.g.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_s2i0vv3v_wpftmp.AssemblyInfo.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_s2i0vv3v_wpftmp.AssemblyInfoInputs.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_s2i0vv3v_wpftmp.assets.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_s2i0vv3v_wpftmp.csproj.BuildWithSkipAnalyzers
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_s2i0vv3v_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_s2i0vv3v_wpftmp.GlobalUsings.g.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_sg1ip4v2_wpftmp.AssemblyInfo.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_sg1ip4v2_wpftmp.AssemblyInfoInputs.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_sg1ip4v2_wpftmp.assets.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_sg1ip4v2_wpftmp.csproj.BuildWithSkipAnalyzers
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_sg1ip4v2_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_sg1ip4v2_wpftmp.GlobalUsings.g.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_ztrznpv2_wpftmp.AssemblyInfo.cs
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_ztrznpv2_wpftmp.AssemblyInfoInputs.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_ztrznpv2_wpftmp.assets.cache
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_ztrznpv2_wpftmp.csproj.BuildWithSkipAnalyzers
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_ztrznpv2_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
MedProject_UI/obj/Debug/net8.0-windows/MedProject_UI_ztrznpv2_wpftmp.GlobalUsings.g.cs
MedProject_UI/obj/Debug/net8.0-windows/PatientDescription.baml
MedProject_UI/obj/Debug/net8.0-windows/PatientDescription.g.cs
MedProject_UI/obj/Debug/net8.0-windows/PatientDescription.g.i.cs
MedProject_UI/obj/Debug/net8.0-windows/ref/MedProject_UI.dll
MedProject_UI/obj/Debug/net8.0-windows/refint/MedProject_UI.dll
MedProject_UI/obj/Debug/net8.0-windows/View/UserControls/btnTemplate.baml
MedProject_UI/obj/Debug/net8.0-windows/View/UserControls/btnTemplate.g.cs
MedProject_UI/obj/Debug/net8.0-windows/View/UserControls/btnTemplate.g.i.cs
MedProject_UI/obj/Debug/net8.0-windows/View/UserControls/ClearableSearchBar.baml
MedProject_UI/obj/Debug/net8.0-windows/View/UserControls/ClearableSearchBar.g.cs
MedProject_UI/obj/Debug/net8.0-windows/View/UserControls/ClearableSearchBar.g.i.cs
MedProject_UI/obj/Debug/net8.0-windows/View/UserControls/DatePickerTemplate.baml
MedProject_UI/obj/Debug/net8.0-windows/View/UserControls/DatePickerTemplate.g.cs
MedProject_UI/obj/Debug/net8.0-windows/View/UserControls/DatePickerTemplate.g.i.cs
MedProject_UI/obj/MedProject_UI.csproj.nuget.dgspec.json
MedProject_UI/obj/MedProject_UI.csproj.nuget.g.props
MedProject_UI/obj/MedProject_UI.csproj.nuget.g.targets
MedProject_UI/obj/project.assets.json
MedProject_UI/obj/project.nuget.cache
/MedProject_UI/obj/Debug/net8.0-windows
/.vs/MedProject_UI/FileContentIndex
/MedProject_UI/bin
/MedProject_UI/bin
/MedProject_UI/obj
/MedProject_UI/bin/Debug/net8.0-windows
/.vs
/MedProject_UI/config.json
/MedProject_UI/database.json
/MedProject_UI/InnoBuilderProject.iss
/MedProject_UI/mongodb-windows-x86_64-8.0.11-signed.msi
